
<!--
  Manipulator specific version of 'robot_interface_streaming.launch'.

  Defaults provided for mhj:
   - 6 joints

  Usage:
    robot_interface_streaming_mhj.launch robot_ip:=<value> controller:=<fs100>
-->
<launch>
	<arg name="robot_ip" />
	
  <!-- controller: Controller name (fs100) -->
  <arg name="controller"/>

        <rosparam command="load" file="$(find motoman_mhj_support)/config/joint_names_mhj.yaml" />

	<include file="$(find motoman_driver)/launch/robot_interface_streaming_$(arg controller).launch">
		<arg name="robot_ip"   value="$(arg robot_ip)" />
	</include>
</launch>
