<?xml version="1.0" ?>

<robot name="motoman_bmda3" xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:include filename="$(find motoman_bmda3_support)/urdf/bmda3_eff_macro.xacro" />
	<xacro:include filename="$(find motoman_bmda3_support)/urdf/bmda3_macro.xacro" />
	<xacro:bmda3 prefix=""/>
        <xacro:bmda3_eff prefix="right_"/>
        <xacro:bmda3_eff prefix="left_"/>
	
	
	<joint name="left_eff" type="fixed" >
          <parent link="left_tool0" />
          <child link="left_eff" />
          <origin xyz="0 0 0" rpy="0 0 0" />
          <axis xyz="0 0 1" />
        </joint>
    
       <joint name="right_eff" type="fixed">
          <parent link="right_tool0" />
          <child link="right_eff" />
          <origin xyz="0 0 0" rpy="0 0 0" />
          <axis xyz="0 0 1" />
       </joint>
	
</robot>

