<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="bmda3_eff" params="prefix">
  <!-- link list -->
 
  <link
    name="${prefix}eff">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://motoman_bmda3_support/meshes/bmda3/visual/eff.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://motoman_bmda3_support/meshes/bmda3/collision/eff.stl" />
      </geometry>
    </collision>
  </link>
 
		<!-- end of joint list -->
	</xacro:macro>
</robot>
