<!--
  Manipulator specific version of 'robot_interface_streaming.launch'.

  Defaults provided for bmda3:
   - 6 joints

  Usage:
    robot_interface_streaming_bmda3.launch robot_ip:=<value>
-->
<launch>
  <arg name="robot_ip" />
	<arg name="controller" />
	<arg name="version0"/>

  <!--rosparam command="load" file="$(find motoman_bmda3_support)/config/joint_names_bmda3.yaml" /-->
	<rosparam command="load" file="$(find motoman_bmda3_support)/config/bmda3_state_interface.yaml" />
  
  <include file="$(find motoman_driver)/launch/robot_interface_streaming_$(arg controller).launch">
		<arg name="robot_ip"   value="$(arg robot_ip)" />
		<arg name="version0"   value="$(arg version0)" />
	</include>

</launch>
