<!--
  Manipulator specific version of motoman driver's 'robot_interface.launch'.

  Defaults provided for es200rn_120:
   - J23_coupled = true

  Usage:
    robot_interface_download_es200rn_120.launch robot_ip:=<value>
-->
<launch>
  <arg name="robot_ip" />
  <arg name="controller"/>

  <rosparam command="load" file="$(find motoman_es_support)/config/joint_names_es200rn_120.yaml" />

  <include file="$(find motoman_driver)/launch/robot_interface_streaming_$(arg controller).launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
  </include>
</launch>
